* text=auto
*.R text eol=lf
*.Rmd text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.pdf binary
*.xlsx binary
*.html text eol=lf
